/* Parent container styling */
.viewParentDiv {
  padding-top: 5.5rem;
  display: flex;
  flex-wrap: wrap;
}

/* Image container */
.viewParentDiv .imageShowDiv {
  width: 900px;
  height: 530px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2%;
  padding: 2%;
  border: 1.3px solid rgb(0, 0, 0);
  border-radius: 35px;
}

.viewParentDiv .imageShowDiv img {
  width: 100%;
  max-height: 100%;
  object-fit: contain; 
}

.viewParentDiv .imageShowDiv .imageIcons {
  display: flex;
  gap: 12px;
  flex-direction: column;
  margin-top: -45%;
}

.viewParentDiv .imageShowDiv .icon {
  font-size: 35px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  padding: 8px;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.viewParentDiv .imageShowDiv .icon:hover {
  transform: scale(1.2);
  background-color: rgba(0, 0, 0, 0.8);
}

/* Right section */
.viewParentDiv .rightSection {
  padding: 16px;
  margin-top: 3em;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-bottom: 38px;
}

.viewParentDiv .rightSection .productDetails :first-child {
  font-weight: 700;
  margin-bottom: 8px;
  color: #002f34;
  font-size: 34px;
  line-height: 32px;
  margin-bottom: 20px;
}

.viewParentDiv .rightSection .productDetails {
  border: 1px solid black;
  padding: 6px;
  border-radius: 6px;
  margin-bottom: 2em;
  width: 100%;
}

.viewParentDiv .rightSection .contactDetails {
  border: 1px solid black;
  padding: 6px;
  border-radius: 6px;
}

.chatButton {
  margin-top: 16px;
  padding: 16px 16px;
  font-size: 16px;
  background-color: #5889ea;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.chatButton:hover {
  background-color: #4779deef;
}

@media (max-width: 500px) {
  .viewParentDiv {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 100px;
  }
  .icon {
    margin-top: -90px;
  }
  .rightSection {
    margin-bottom: 30px;
  }
}