.loginParentDiv {
  border: 1px solid black;
  width: 350px;
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
}

.greet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  margin: 5px;
}

.greet img {
  max-width: 200px;
  max-height: 200px;
}

.greet p {
  width: 250px;
}

.form-ctn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.formx {
  width: 100%;
  margin-left: 20px;
}

.formx label {
  margin-top: 10px;
  padding: 0;
}

.formx .input {
  margin: 0;
  padding: 0;
  width: 94%;
  height: 29px;
}

.form-ctn form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.loginParentDiv .input {
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  outline-color: transparent;
  margin: 0;
  padding: 0;
}

.loginParentDiv button {
  width: 97%;
  height: 48px;
  border-color: transparent;
  background-color: #002f34;
  color: whitesmoke;
  font-weight: 900;
  border-radius: 7px;
}

.loginParentDiv button:hover {
  background-color: white;
  color: #002f34;
  border: 2px solid #002f34;
}

.signup-link {
  text-decoration: none;
  color: rgb(39, 39, 39);
  margin-bottom: 8px;
  margin-top: 10px;
}

.signup-link:hover {
  text-decoration: none;
}